affine==2.3.0
appdirs==1.4.4
attrs==21.2.0
autoflake==1.4
black==21.6b0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
coverage==5.5
cycler==0.10.0
decorator==4.4.2
Fiona==1.8.20
flake8==3.9.2
flake8-isort==4.0.0
idna==2.10
imageio==2.9.0
iniconfig==1.1.1
isort==5.8.0
joblib==1.0.1
kiwisolver==1.3.1
matplotlib==3.4.2
mccabe==0.6.1
munch==2.5.0
mypy-extensions==0.4.3
networkx==2.5.1
numpy==1.20.3
opencv-python==4.5.2.54
packaging==20.9
pathspec==0.8.1
pep517==0.10.0
Pillow==8.2.0
pip-tools==6.1.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
python-dateutil==2.8.1
PyWavelets==1.1.1
rasterio==1.2.6
rdp==0.8
regex==2021.4.4
requests==2.25.1
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.3
Shapely==1.7.1
six==1.16.0
snuggs==1.4.7
termcolor==1.1.0
testfixtures==6.17.1
threadpoolctl==2.1.0
tifffile==2021.6.14
toml==0.10.2
urllib3==1.26.5
